@import "tailwindcss";

/* স্মুথ স্ক্রলিং এবং সিলেকশন কালার */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #2563eb;
  color: white;
}

body {
  overflow-x: hidden; /* সাইড স্ক্রল বন্ধ করার জন্য */
}